.vs/
.vscode/
server-csharp/spacetimedb/bin
server-csharp/spacetimedb/obj
server-csharp/.cursor
server-csharp/.github
server-csharp/.windsurfrules
server-csharp/*.md
client-unity/Temp
client-unity/Logs
client-unity/Library
client-unity/UserSettings